@model IEnumerable<EatZilla.Models.CoreClasses.Dish>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", new { id = item.DishId })'">Edit</button> |
                    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", new { id = item.DishId })'">Details</button> |
                    <button type="button" class="btn btn-danger" onclick="if(confirm('Are you sure you want to delete this item?')) location.href='@Url.Action("Delete", new { id = item.DishId })'">Delete</button>
                </td>
              
           @*  <td>
                <a asp-action="Edit" asp-route-id="@item.DishId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DishId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DishId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
